.App {
  width: 800px;
  margin: auto;
  padding: 1em;
}

input {
  font-size: large;
  padding: 0.2em;
  width: 100%;
}

.pokemon-container {
  margin-top: 20px;
}

.input-box {
  border-radius: 6px;
  border: 1px solid rgb(159, 159, 159);
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 16px;
}

.input-box:hover {
  border: 1px solid rgb(32, 135, 239);
}